:root{
    --primary : #ff8a00;
    --secondary : #e52e71;
    --light : #ffffff;
    --dark :#000000;
    --shadow : rgba(0, 0, 0, 0.2);
    --shadow1 : rgba(0, 0, 0, 0.5);
    --shadow2 : rgba(0, 0, 0, 0.7);
    --blue : #49adff;
    --bhover: #3c72fc;
    --light-black : #333333;


}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background: linear-gradient(90deg, var(--primary), var(--secondary) );
    color: var(--light);
    padding: .5rem 0;
    margin: 0;
    text-shadow: 2px 2px 4px var(--shadow);
    font-size: 20px;
}

#ff8a00, #e52e71
header h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

#color-picker {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-input {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

#color-code-input {
    width: 100%;
    max-width: 150px;
    margin-top: 1rem;
    height: 30px;
    border: 1px solid var(--light-black);
    font-weight: 600;
    border-radius:10px ;
    text-align: center;
}

#color-format {
    width: 100%;
    max-width: 150px;
    margin-top: 1rem;
    height: 30px;
    border: 1px solid var(--light-black);
    font-weight: 600;
    border-radius:10px ;
    text-align: center;
}



#add-color {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--blue);
    color: var(--light);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 1rem;
    border-radius:15px;
}

#add-color:hover {
    background-color: var(--bhover);
}


#palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.color-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: var(--light-black);
}



.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.pop-up-message {
    background-color: var(--light);
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 2px 4px var(--shadow);
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}



footer {
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    padding:  0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    z-index: 999;
}

.footer-show {
    transform: translateY(0);
    opacity: 1;
}


.hide-footer .footer-show {
    transform: translateY(100%);
    opacity: 0;
}
